body {
    margin: 0;
    min-height: 100vh;
    background: #e6e6e6;
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    background: #e6e6e6;
}

.input-container input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.game-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.retry-button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.scratch.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.cella {
    width: 100px;
    height: 100px;
    border: 4px solid black;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background: white;
    overflow: hidden;

    cursor: pointer;
}

.cover {
    position: absolute;
    inset: 0;

    background: gray;
    border-radius: 15px;

    cursor: pointer;

}

.scratch {

    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-auto-rows: 100px;
    gap: 40px;
}


@media (max-width: 768px) {
    .scratch {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .cella {
        width: 80px;
        height: 80px;
        font-size: 32px;
        padding: 40px;
    }
}